/*********************************** 
*
*       Detail Box CSS
*
*
***********************************/

@font-face {
    font-family: 'Paradise';
    src: url('./fonts/Paradise886-YzX4y.otf');   
}

@font-face {
    font-family: 'Randhu';
    src: url('./fonts/RandhuFreeTrial-1GX6e.otf');   
}

@font-face {
    font-family: 'Ras1';
    src: url('./fonts/RashkeyRegular-d9yxV.otf');   
}

@font-face {
    font-family: 'Ras2';
    src: url('./fonts/RashkeyRegular-PKXGd.ttf');   
}

#detailBoxContainer{
    width:100%;
    height:100%;
    box-sizing: border-box;
    visibility:visible;
}

#detailBox{
    width:100%;
    min-width: 100%;
    height:100%;
    box-sizing: border-box;
    transition: 0.5s ease;
}


