/*********************************** 
*
*       Search Field CSS
*
*
***********************************/



@font-face {
    font-family: 'Ras1';
    src: url('./fonts/RashkeyRegular-d9yxV.otf');   
}



#text{
    font-family: "Ras1";
    font-size: 90px;
    padding-bottom:30px;
    width:100%;
    min-width: 926px;
}

